<h1>Edit <%= @tournament.title %></h1>

<br>
<br>
<form action="/tournaments/<%= @tournament.id %>/update">
  
  <div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Tournament Title" name="title" id="title" value="<%= @tournament.title %>">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->

    <div class="col-lg-3">
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox" name="paid" id="paid" value="<%= @tournament.paid %>">
        </span>
        <input class="form-control" placeholder="Paid?">  
      </div><!-- /input-group -->
    </div><!-- /.col-lg-3 -->

    <div class="col-lg-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Confirmation #" name="confirmation" id="confirmation" value="<%= @tournament.confirmation %>">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-3 -->
   </div><!-- /.row --> 
    </div>

    <br>
    <br>

  <div class="container">
    <div class="row">
     <div class="col-lg-4">
       <div class="input-group">
        <input type="text" class="form-control" placeholder="Type Event(s)" name="events" id="events" value="<%= @tournament.event %>">
      </div><!-- /input-group -->
     </div><!-- /col-lg-4 -->

      <div class="col-lg-4">

     </div><!-- /col-lg-4 -->

      <div class="col-lg-4">
       <div class="input-group">
        <input type="text" class="form-control" placeholder="Month/Day/Year" name="date" id="date" value="<%= @tournament.date %>">
      </div><!-- /input-group -->
     </div><!-- /col-lg-4 -->
   </div><!-- /.row -->
    </div>

  <br>

    <div class="container">
      <div class="row">
     <div class="col-lg-4">
       <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"> + </button>
        </span>
        <input type="text" class="form-control" placeholder="Additional Events" name="additional_event" id="additional_event" value="<%= @tournament.additional_event %>">
      </div><!-- /input-group -->
     </div>

      <div class="col-lg-4">

     </div>

  
        
      <div class="col-lg-4">
       <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"> + </button>
        </span>
        <input type="text" class="form-control" placeholder="Additional Dates" name="additional_date" id="additional_date" value="<%= @tournament.additional_date %>">
      </div><!-- /input-group -->
     </div>
   </div><!-- /.row -->
    </div>

    <br>
    <br>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Type Location Here" style='width: 500px;' name="location" id="location" value="<%= @tournament.location %>">
          </div><!-- /input-group -->
        </div>
       </div>
      </div>

    <br>
    <br>

    <div class="container">
    <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" name="hotel" id="hotel_show"> + Hotel</button>
        </span>
      </div><!-- /input-group -->
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" name="hotel" id="hotel_hide"> - Hotel</button>
        </span>
      </div><!-- /input-group -->
    </div>
  
  <!--************ HOTEL FORM ************** -->
  
 <div id = "hotel_form">
   <div class="container">
    <div class="row">
    
    <div class="page-header">
      <h2>Hotel</h2>
    </div>

    <div class="col-lg-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="name" name="name" id="name" value="<%= @hotel.name %>">
      </div><!-- /input-group -->
    </div>

    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox" name="paid" id="paid" value="<%= @hotel.paid %>">
        </span>
        <input type="text" class="form-control" placeholder="Paid">  
      </div><!-- /input-group -->
    </div><!-- /.col-lg-3 -->
    
     <div class="col-lg-4">
       <div class="input-group">
         <input type="text" class="form-control" placeholder="Confirmation #" name="confirmation" id="confirmation" value="<%= @hotel.confirmation %>">
       </div><!-- /input-group -->
     </div><!-- /.col-lg-3 -->
    
  </div>
 </div>
  
  <br>
  
  <div class="container">
    <div class="row">

       <div class="col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="date" name="date" id="date" value="<%= @hotel.date %>">
          </div><!-- /input-group -->
        </div><!-- /.col-lg-3 -->


       <div class="col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="reservation #" name="reservation" id="reservation" value="<%= @hotel.reservation %>">
          </div><!-- /input-group -->
        </div><!-- /.col-lg-3 -->
    </div>
    
    <br>
          
  <div class="container">
    <div class="row">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="address" style='width:500px' name="address" id="address" value="<%= @hotel.address %>">
      </div><!-- /input-group -->
    </div><!-- /.col-lg-3 -->
  </div>
  </div>
  
  </div>
  <script>
    $('#hotel_form').hide()
    $('#hotel_hide').hide()
    $('#hotel_show').click( function(){
      $('#hotel_form').show()
      $('#hotel_show').hide()
      $('#hotel_hide').show()
    });
    
    $('#hotel_hide').click( function(){
      $('#hotel_form').hide()
      $('#hotel_show').show()
      $('#hotel_hide').hide()
    });
  </script>
  
  <!-- ******* END OF HOTEL FORM *********** -->
  
  
  
  <br>
  <div class="container">
    <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" name="travel" id="travel_show"> + Travel</button>
        </span>
      </div><!-- /input-group -->
    <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" name="travel" id="travel_hide"> - Travel</button>
        </span>
      </div><!-- /input-group -->
  </div>
  
  <!-- ****************** travel form *************** -->

  
  <div id="travel_form">
   <div class="container">
  <div class="row">
    
    <div class="page-header">
      <h2>Travel</h2>
    </div>

    <div class="col-md-3">
    </div>
    
    <div class="col-md-3">
    </div>
    
    <div class="col-lg-3">
      <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox" name="paid" id="paid" value="<%= @travel.paid %>">
        </span>
        <input type="text" class="form-control" placeholder="Paid" style="width:200px">  
      </div><!-- /input-group -->
    </div><!-- /.col-lg-3 -->
    
     <div class="col-lg-3">
       <div class="input-group">
         <input type="text" class="form-control" placeholder="Confirmation #" name="confirmation" id="confirmation" value="<%= @travel.confirmation %>">
       </div><!-- /input-group -->
     </div><!-- /.col-lg-3 -->
    
  </div>
 </div>
  
  <br>
  <br>
  <br>
  
  <div class="container">
    <div class="row">

      
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Airline" style="width:400px" name="airliine" id="airline" value="<%= @travel.airline %>">
        </div><!-- /input-group -->
      </div>
      
       <div class="col-lg-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="flight #" style="width:400px" name="flight" id="flight" value="<%= @travel.value %>">
          </div><!-- /input-group -->
        </div><!-- /.col-lg-3 -->
     </div>
   </div>
    
    <br>

  <div class="container">
    <div class="row">
       <div class="col-lg-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="destination" style="width:450px" name="destination" id="destination" value="<%= @travel.destination %>">
          </div><!-- /input-group -->
        </div>
    </div>
  </div>
 </div>
  <script>
    $('#travel_form').hide()
    $('#travel_hide').hide()
    $('#travel_show').click( function(){
      $('#travel_form').show()
      $('#travel_show').hide()
      $('#travel_hide').show()
    });
    
    $('#travel_hide').click( function(){
      $('#travel_form').hide()
      $('#travel_show').show()
      $('#travel_hide').hide()
    });
  </script>
  
  
  <!-- ****************** end  of travel form *************** -->
  
  
    <br>
    <br>
    <br>
    <br>

    <div class="container">
      <div class="row">
      <p><a href="/create_tournament" class="btn btn-primary btn-lg" role="button">Update</a></p>
      </div>
    </div>
</form>