<div class="container">

 <ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#">Tournaments</a></li>
  <li><a href="#">Results</a></li>
  <li><a href="#">Notes</a></li>
 </ul>
<br>
<br>
  <h2>Tournaments</h2>
  <br>

<% @tournaments.each do |tournament| %>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3><td><a href="/tournaments/<%= tournament.id %>"><%= tournament.title %></a></td></h3>
          <p>Location: <td><%= tournament.location %></td></p>
          <p>Date: <td><%= tournament.date %></td></p>
          <td><a href="/tournaments/<%= tournament.id %>/destroy">Destroy</a></td>
        </div>
      </div>
    </div>
  <% end %>
    
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <br>
          <br>
          <br>
          <br>
          <p class="add"><a href="/new_tournament" class="btn btn-primary" role="button">Add</a></p>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
    
  </div>
</div>
