  <div class="container">
    <div class="page-header">
      <h1><%= @tournament.title %> <small><%= @tournament.location %> | <%= @tournament.date %></small></h1>
    </div>

      <div class="caption">
        <%= @tournament.paid %><h3>Paid</h3>
      </div>
      
      <div class="caption">
        <h3>Confirmation #:</h3>
        <h4><%= @tournament.confirmation %></h4>
      </div>


      <div class="caption">
        <h3>Event(s):</h3>
        <h4><%= @tournament.event %></h4>
      </div>
  </div>

<div>
  <strong>Hotel</strong>:<br />
  <p><%= @tournament.hotel %></p>
</div>
<div>
  <strong>Travel</strong>:<br />
  <p><%= @tournament.travel %></p>
</div>

<a href="/tournaments/<%= @tournament.id %>/edit">Edit</a> |
<a href="/tournaments/<%= @tournament.id %>/destroy">Destroy</a> |
<a href="/tournaments">You're Tournaments</a>
