 
<div class="container">
    <div class="page-header">
      <h1><%= @tournament.title %> <small><%= @tournament.location %> </small></h1>
    </div>

      <div class="caption">
        <h3>Paid</h3><%= @tournament.paid %>
      </div>
      
      <div class="caption">
        <h3>Confirmation #:</h3>
        <h4><%= @tournament.confirmation %></h4>
      </div>


      <div class="caption">
        <h3>Event(s):</h3>
        <h4><%= @tournament.event %> - <%= @tournament.date %></h4>
        <h4><%= @tournament.additional_event %> - <%= @tournament.additional_date %></h4>
      </div>
  <br />
      <div>
        <h4>Hotel:</h4><br />
        <p><%= @tournament.hotel %></p>
      </div>
      <div>
        <h4>Travel:</h4><br />
        <p><%= @tournament.travel %></p>
      </div>
  
      <a href="/tournaments/<%= @tournament.id %>/edit">Edit</a> |
      <a href="/tournaments/<%= @tournament.id %>/destroy">Destroy</a> |
      <a href="/tournaments">Your Tournaments</a>
  
  </div>




