<!DOCTYPE html>
<html>
<head>
  <title>Fencing</title>
  
  <script src="//code.jquery.com/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div>
  <% if session['user_id'] %>
    <% u = User.find_by_id(session['user_id']) %>
    You're signed in as <%= u.name %>
    <a href="/sessions/destroy">Sign Out</a>
  <% else %>
    <a href="/sessions/new">Sign In></a>
  <% end %>
</div>

<%= yield %>

</body>
</html>
